@import "tailwindcss";



@theme {
    --color-background: #121212;
    --color-primary: #1DB954;
    --font-sans: 'Inter', sans-serif;
    --color-secondary: #212121;
}

:root {
    --background: var(--color-background);
    --secondary: var(--color-secondary);
}

body {
    font-family: var(--font-sans);
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}