@import "tailwindcss";



@theme {
    --color-background: #171717;
    --font-sans: 'Inter', sans-serif;
}

:root {
    --background: var(--color-background);
}

body {
    font-family: var(--font-sans);
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}